.layout {
  width: 90%;
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 35% 60%;
  column-gap: 2%;
  row-gap: 2%;
  align-items: baseline;

  .grid-cell {
    padding: 2%;
  }
  .playlist-table {
    grid-column: span 3;
    padding: 3% 0%;
  }
}
